<div>
  <div class="header">
    <ion-item lines="none" *ngIf="user">
      <ion-grid class="menu-user-info">
        <ion-row>
          <ion-col size="9" class="align-middle p-0 m-0">
            <div class="ml-2">
              <p class="bold">Olá, {{user.name}}</p>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <!--Login / Registration Modal-->
    <div class="ion-padding-horizontal" *ngIf="!user">
      <ion-button color="secondary" (click)="openLoginModal()">
        <span>Entre ou cadastre-se</span>
      </ion-button>
    </div>
  </div>

  <ion-card mode="ios">
    <ion-card-header (click)="goToUrl('store/home')">
      <ion-card-subtitle>FSBR</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>

      <ion-list>
        <ion-menu-toggle auto-hide="false" *ngFor="let p of links">
          <ion-item lines="full" class="menu-item" [routerLink]="[p.url]" detail="false">
            <ion-label>
              {{p.title}}
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>

    </ion-card-content>
  </ion-card>
</div>